Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-5D1C09194D56B4470BA97E95F8244FE7/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/UE5MathAssessment.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
Saved/Telemetry/Telemetry.json
*.bin
*.dmp
*.bin
